body{
	margin-bottom: 100px;
}
h1{
	margin-top: 30px;
	margin-right: 50px;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
.btn-primary{
   font-weight: bold;
   padding-left: 50px;
   padding-right: 50px;
   margin-top: 50px;
}
.btn-dark{
   font-weight: bold;
   padding-left: 75px;
   padding-right: 75px;
   margin-top: 10px;	
}
.btn-light{
   font-weight: bold;
   padding-left: 70px;
   padding-right: 70px;
   margin-top: 10px;	
}
.label{
	color: #000000;
	font-weight: bold;
}
.input{
	width: 500px;
	padding: 10px;
}
.login-form{
	justify-content: center;
	display: flex;
}
.signupbutton{
	color: #000000; 
	background-color: #1ed760; 
	margin-top: 10px; 
	font-weight: bold; 
	margin-left: 50%;
	margin-top: 10%;
}